# Segmenting and clustering Part 1

In [101]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library

print("Libraries imported.")

Libraries imported.

# 2 Scrape wikki for data

In [102]:

# send the GET request
url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [103]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(url, 'html.parser')

In [104]:
# create three lists to store table data
postalCodeList = []
boroughList = []
neighborhoodList = []

In [105]:
# Find the table and append the data into the respective lists
for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')
    if(len(cells) > 0):
        postalCodeList.append(cells[0].text)
        boroughList.append(cells[1].text)
        neighborhoodList.append(cells[2].text.rstrip('\n')) # avoid new lines in neighborhood cell

In [106]:
# create a new DataFrame from the three lists
tn_df = pd.DataFrame({"PostalCode": postalCodeList,"Borough": boroughList,"Neighborhood": neighborhoodList})
tn_df = tn_df.replace('\n','', regex=True)
tn_df.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

# 3 Drop not assigned Boroughs

In [107]:
# # # drop cells with a borough that is Not assigned
# tn_df_dropna = tn_df[tn_df.Borough != "Not assigned"].reset_index(drop=True)
# tn_df_dropna.head()


#tn_df[~tn_df.team.str.contains('Not assigned')]

tn_df=tn_df[tn_df['Borough']!='Not assigned']


tn_df.head()

  PostalCode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

# 4. Group neighborhoods in the same borough

In [108]:
# group multiple Neighbourhood under one Postcode
tn_df1=tn_df.groupby('PostalCode')['Neighborhood'].apply(lambda x: "%s" % ', '.join(x))
tn_df1=tn_df.reset_index(drop=False)
tn_df1.rename(columns={'Neighborhood':'Neighborhood_joined'},inplace=True)

In [110]:
tn_df1.head()

,index,PostalCode,Borough,Neighborhood_joined
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"

In [113]:
# join the newly constructed joined data frame
df_merge = pd.merge(tn_df, tn_df1, on='PostalCode')

In [115]:
# drop the Neighbourhood column
df_merge.drop(['Neighborhood_joined'],axis=1,inplace=True)

In [117]:
# drop duplicates from the data frame
df_merge.drop_duplicates(inplace=True)

In [119]:
# drop extra column borough_y added during merging
df_merge.drop(['Borough_y'],axis=1,inplace=True)

In [120]:
# drop extra column index added during merging
df_merge.drop(['index'],axis=1,inplace=True)

In [122]:
# rename column borough_x back to borough
df_merge.rename(columns={'Borough_x':'Borough'},inplace=True)

In [124]:
df_merge.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [125]:
df_merge.shape

(103, 3)